@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    user-select: none;
}

html {
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
    width: 0;
}


@layer components {
    /* .card{
        background-color: theme('colors.white');
        border-radius: theme('borderRadius.lg');
        padding: theme('spacing.6');
        box-shadow: theme('boxShadow.xl');
    } */
}